<label>Name: </label>
<input type="text" name="name" value="<%= user.escape("name") %>">
<br>
<label>email: </label>
<input type="text" name="email" value="<%= user.escape("email") %>">
<br>
<label>Date of Birth: </label>
<input type="date" name="dob" value="<%= user.escape("dob") %>">
<br>
<label>City: </label>
<input type="text" name="city" value="<%= user.escape("city") %>">
<br>
<label>School: </label>
<input type="text" name="school" value="<%= user.escape("school") %>">
<br>
<label>Workplace: </label>
<input type="text" name="workplace" value="<%= user.escape("workplace") %>">
<br>
<button class="submit-changes">Update</button>
