<main class="content profile">
  <header class="content-cover">

    <div id="cover-pic-holder">
      <img id="cover-pic" src="<%= user.escape("cover_pic") %>"/>

      <% if (user.escape('id') === currentUser.escape('id')) { %>
        <button id="change-cover" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Update Cover Picture
        </button>
      <% } %>
    </div>

    <h1><%= user.escape("name") %></h1>

    <div id="profile-pic-holder">
      <img id="profile-pic" src="<%= user.escape("profile_pic") %>"/>

      <% if (user.escape('id') === currentUser.escape('id')) { %>
        <button id="change-avatar" type="button" class="btn btn-default btn-lg" aria-label="Left Align">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Update
        </button>
      <% } %>
    </div>

    <%= if (user.escape('id') !== currentUser.escape('id')) %>
    <button type="button" class="btn btn-default">Add Friend</button>



    <div class="profile-ribbon">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Timeline</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#/users/<%= user.escape('id') %>/friends">Friends</a></li>
        <li role="presentation"><a href="#">Photos</a></li>
      </ul>
    </div>
  </header>

  <section class="content-sidebar">
    <div class="basic-info"></div>
    <div class="friends-thumbs">

    </div>

    <div class="photos-thumbs">

    </div>
  </section>

  <section class="content-main">

    <div class="new-post-form"></div>
    <div class="posts-holder"></div>

  </section>

</main>
