<section class="content-sidebar">
  <div class="basic-info">

  
  </div>

  <div class="friends-thumbs clearfix">
    <p id="friends-thumbs-info">
      FRIENDS - <%= user.friends().models.length %>
    </p>

    <ul>
      <% friends.forEach(function(friend) { %>
        <li>

          <a href="#users/<%= friend.escape('id') %>"
             class="friend-thumbnail">
               <img src="<%= friend.escape('profile_pic') %>" ></a>

          <p class="friend-thumb-name">
            <%= friend.escape('name') %>
          </p>

        </li>
      <% }) %>
    </ul>
  </div>

  <div class="photos-thumbs clearfix">
    <p id="photos-thumbs-info">
      PHOTOS - <%= user.photos().models.length %>
    </p>

    <ul>
      <% photos.forEach(function(photo) { %>
        <li>

          <a href="#"
             class="photo-thumbnail">
               <img src="<%= photo.escape('url') %>" ></a>

        </li>
      <% }) %>
    </ul>
  </div>

</section>

<section class="content-main">

  <div class="new-post-form"></div>
  <div class="posts-holder"></div>

</section>
